# MongoDB Database Parameters
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?appName=Cluster0
DATABASE_NAME=mediclear

# Security Credentials
SECRET_KEY=your-super-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Third-Party API Config
MOCK_NOTIFICATIONS=True
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_FROM_NUMBER=+1xxxxxxxxxx
SENDGRID_API_KEY=your-sendgrid-api-key
FROM_EMAIL=alerts@yourdomain.com
